label.tabbed-title{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-transform: uppercase;
    color: var(--tea-rose-red);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
label.tabbed-title hr{
    margin: 10px 3px;
    border: 0;
    border-top: 1px solid var(--tea-rose-red);
    display: flex;
    width: 40px;
}

@media (max-width: 768px) and (min-width: 481px) {
    label.tabbed-title{
        font-size: 20px;
    }
    label.tabbed-title hr{
        margin: 15px 3px;
    }
}

@media (max-width: 480px){
        label.tabbed-title{
        font-size: 25px;
    }    label.tabbed-title hr{
        margin: 17px 3px;
    }
}
